<a href="https://colab.research.google.com/github/zShadil/GIT-Assignment/blob/main/Assignment3_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Python program that takes an integer as input and calculates the
sum of its digits

In [ ]:
num = int(input("Enter a number: "))
s = 0
for digit in str(num):
    s += int(digit)
print("Sum of digits:", s)

Enter a number: 45
Sum of digits: 9

2.Create a Python program to calculate the factorial of a given number using
a function.

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

num = int(input("Enter a number: "))
print("Factorial =", factorial(num))

Enter a number: 2
Factorial = 2

3.Develop a Python program that checks whether a given word or phrase is a
palindrome.

In [ ]:
text = input("Enter a word or phrase: ").replace(" ", "").lower()
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a word or phrase: samas
Palindrome

4.Create a Python program that takes a sentence as input and counts the
number of vowels and consonants.

In [ ]:
sentence = input("Enter a sentence: ").lower()
vowels = "aeiou"
v = c = 0

for ch in sentence:
    if ch.isalpha():
        if ch in vowels:
            v += 1
        else:
            c += 1

print("Vowels:", v)
print("Consonants:", c)

Enter a sentence: im good
Vowels: 3
Consonants: 3

5.Develop a Python program that takes two lists as input and returns a new
list containing the common elements between them.

In [ ]:
list1 = eval(input("Enter list 1: "))
list2 = eval(input("Enter list 2: "))
common = list(set(list1) & set(list2))
print("Common elements:", common)

Enter list 1: 10,20,30,40,50
Enter list 2: 30,60,10,70,90
Common elements: [10, 30]

6.Write a Python program that takes a string as input and counts the
frequency of each character in the string.

In [ ]:
text = input("Enter a string: ")
freq = {}

for ch in text:
    freq[ch] = freq.get(ch, 0) + 1

print(freq)

Enter a string: Hello World
{'H': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'W': 1, 'r': 1, 'd': 1}

7.Develop a Python program that checks if a given year is a leap year.

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Enter a year: 2024
Leap year

8.Write a Python program that checks if a given number, is a prime number.

In [ ]:
n = int(input("Enter a number: "))
if n <= 1:
    print("Not prime")
else:
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Enter a number: 5
Prime

9. Write a Python program to generate the Fibonacci sequence up to a specified number of terms.

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

 10. Write a python program to find the roots of a quadratic equation

In [ ]:
import math

a = float(input("Enter a: "))
b = float(input("Enter b: "))
c = float(input("Enter c: "))

d = b*b - 4*a*c

if d < 0:
    print("No real roots")
elif d == 0:
    print("One root:", -b/(2*a))
else:
    r1 = (-b + math.sqrt(d)) / (2*a)
    r2 = (-b - math.sqrt(d)) / (2*a)
    print("Roots are:", r1, r2)

Enter a: 1
Enter b: -4
Enter c: 4
One root: 2.0

11.Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
text = input("Enter a string: ")
freq = {}

for ch in text:
    freq[ch] = freq.get(ch, 0) + 1

for k, v in freq.items():
    print(f"{k}={v}", end=", ")

Enter a string: Hello World
H=1, e=1, l=3, o=2,  =1, W=1, r=1, d=1,

12.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34

In [ ]:
def maximum(a, b, c):
    return max(a, b, c)

print(maximum(34, 12, 7))

34

13.Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):
    return base ** exp

b = int(input("Enter base: "))
e = int(input("Enter exponent: "))
print(exponent(b, e))

Enter base: 2
Enter exponent: 3
8

14.Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.

In [ ]:
def sum_cubes(n):
    s = 0
    for i in range(1, n):
        s += i**3
    return s

print(sum_cubes(4))

36

15.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1, 10+1):
    if i % 2 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 2 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

16.Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
nums = [2, 3, 4, 2, 5, 2]
freq = {}

for n in nums:
    freq[n] = freq.get(n, 0) + 1

print(max(freq, key=freq.get))

2

17. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15

In [ ]:
nums = [2, 1, 3, 1]
print(sum(i*i for i in nums))

15

18.Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(i, "- even")
    else:
        print(i, "- odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

19.Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5

In [ ]:
f = float(input("Temperature in Fahrenheit: "))
c = (f - 32) * 5/9
print("Temperature in Celsius =", c)

Temperature in Fahrenheit: 41
Temperature in Celsius = 5.0

20.Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def fact(n):
    f = 1
    for i in range(1, n+1):
        f *= i
    return f

print(fact(3))

6

21.Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [ ]:
r = float(input("Enter radius: "))
area = 3.14 * r * r
print("Area of Circle is", area)

Enter radius: 3
Area of Circle is 28.259999999999998

22.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input:  
Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:  Name: Anisha
Roll No: 21

In [ ]:
name = input("Enter name: ")
roll = input("Enter roll number: ")
mark = input("Enter mark: ")

print("Name:", name)
print("Roll No:", roll)
print("Mark:", mark)

Enter name: anisha
Enter roll number: 21
Enter mark: 78
Name: anisha
Roll No: 21
Mark: 78

23.Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
nums = [12, 3, 47, 10]
print(max(nums), "is the largest number.")

47 is the largest number.

24.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [ ]:
prev = 0
for i in range(1, 11):
    print("Current Number", i, "Previous Number", prev, "Sum:", i + prev)
    prev = i

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

25.Write a Python program to print only those numbers which are divisible
of 5.

In [ ]:
nums = [10, 20, 33, 46, 55]
for n in nums:
    if n % 5 == 0:
        print(n)

10
20
55

26.Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3  
Sample output: 3 is a prime number.

In [ ]:
n = int(input("Enter number: "))

if n <= 1:
    print("Not prime")
else:
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            print(n, "is not prime")
            break
    else:
        print(n, "is a prime number")

Enter number: 5
5 is a prime number

27.Write a Python program to reverse a list using for loop.

In [ ]:
lst = [10, 40, 30, 70]
rev = []

for i in range(len(lst)-1, -1, -1):
    rev.append(lst[i])

print(rev)

[70, 30, 40, 10]

Write a Python program to print the following pattern.  
*
**
***
**
****

In [ ]:
print("*")
print("**")
print("***")
print("**")
print("****")

*
**
***
**
****

29.Write a Python program to find the maximum of three numbers  
Sample input: 34,12,7  
Sample output: 34

In [ ]:
a, b, c = 34, 12, 7
print(max(a, b, c))

34

30. Write a Python program to construct the following pattern, using a
nested for loop.  
*
***
****
*****
****
***
**
*

In [ ]:
# Upper
for i in range(1, 6):
    print("*" * i)

# Lower
for i in range(4, 0, -1):
    print("*" * i)

*
**
***
****
*****
****
***
**
*